@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Krub', sans-serif;
}

body{
    background: #EAEBEF;
    margin: auto;
    /* font-family: 'Poppins', sans-serif; */
}

.titulo {
    /*text-transform: uppercase;*/
    color: #FFC107;
    text-align: center;
    padding: .5rem;
}

.titulo span {
    font-size: 4rem;
    padding: 0;
    color: #0097A7;
    text-transform: none;
}

.contenedor {
    margin: 0 auto;
    max-width: 120rem;
}
@media (min-width: 768px){
    .contenedor-grid {
        display: grid;        
        margin-left: auto;  
        margin-right: auto;              
        grid-template-columns: 350px 2fr;        
        max-width: 1000px;
        align-items: start;
               
    }    
}

.sidebar-1 {
    padding: 0 3rem;
    margin: auto;
       
}

.sidebar-1 h2{    
    padding: 0.5rem 0 ;
    font-size: 1rem;
}

.sidebar-1 p{
    text-align: justify;
    margin-bottom: 2rem;
}

.nav{    
    width: 350px;
    margin: 0 auto; 
    margin-bottom: 2rem;  
    
}

.nav__link{
    color: #303440;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav__link--inside{
    border-radius: 6px ;
    padding-left: 20px;
    text-align: left;
}

.nav__link--inside:hover{
    background: #F6F8FA;
}

.list{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    background: #DFE9F3;    
    
}

.list__item{
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list__item--click{
    cursor: pointer;
}

.list__button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .list__arrow{
    transform: rotate(90deg);
}

.list__arrow{
    margin-left: auto;
    transition: transform .3s;
}

.list__show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
}

.container p{
    text-align: center;    
    margin-bottom: 0.5rem;
}

.containeradjust {
    padding-top: auto;
}

.ogchart ul {
    margin-top: -5px;
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.ogtitle{
    font-size: 0.7rem;
    color: black;
    color: #0097A7;
    font-weight: bold;
    
}
.ogname{
    padding-top: 10px;
    color: black;
}
.department {
    font-weight: bold;
    margin-bottom: 5px;
    border: 3px solid #EEEEEE;
    padding: 10px 10px;
    text-decoration: none;
    color: black;
    background-color: white;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.department li a {
    color: black;
    text-decoration: none;
    border: 3px solid blue;
    padding: 2px 2px;
    text-decoration: none;
    color: black;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.department li a:hover {
    color: black;
    text-decoration: none;
}
.ogchart li {   
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.ogchart li::before, .ogchart li::after{
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 3px solid #000000;
    width: 50%;
    height: 20px;
}
.ogchart li::after{
    right: auto;
    left: 50%;
    border-left: 3px solid #000000;
}
.ogchart li:only-child::after, .ogchart li:only-child::before {
    display: none;
}
.ogchart li:only-child{
    padding-top: 0;
}
.ogchart li:first-child::before, .ogchart li:last-child::after{
    border: 0 none;
}
.ogchart li:last-child::before{
    border-right: 3px solid #000000;
}
.ogchart ul ul::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 3px solid #000000;
    width: 0;
    height: 20px;
}
.ogchart li a{
    text-decoration: none;
    padding: 2px 2px;
    display: inline-block;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.circleborder {    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 5px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}
